.navbar {

    color: #263633;
    padding: 10px 50px;
  
    nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 20px;
  
      li {
        position: relative;
        margin-right: 20px;
  
        a {
          color: #263633;
          text-decoration: none;
          padding: 10px;
  
        
        }
  
        .dropdown-content {
          display: none;
          position: absolute;
          list-style: none;
          padding: 0;
          margin: 0;
        width: 120px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
          li {
            a {
              padding: 10px;
              display: block;
               width: 100px;
              &:hover {
                background-color: #F1F7F6;
              }
            }
          }
        }
  
        .dropdown-content.open {
          display: block;
        }
      }
    }

    button{
      background-color: #00856F;
      color: #fff;
      border: none;
      padding: 12px 25px;
      font-size: larger;
      font-weight: 500;
      line-height: 20px;
      border-radius: 4px;
    }
  }
  }
  