<div class="story">
  <h1>Брак в 14 лет, множенство, насилие, арест и отобранные дети</h1>
  <div class="image">
    <img src="../../assets/245ffa03-84b7-491a-993d-c70ae9820ab1.webp" alt="" />
    <p>
      Платформа направленна на создание безопасного и поддерживающего
      пространства для людей, пострадавших от гендерного насилия. Мы — команда
      Dastgir, объединённая общей целью помочь жертвам гендерного насилия. Наша
      миссия — создать безопасное пространство, где каждый пострадавший сможет
      получить поддержку, защиту и необходимые ресурсы для восстановления. Мы
      верим, что каждый человек заслуживает безопасности и уважения. Если вы
      столкнулись с насилием — мы здесь, чтобы помочь.
    </p>
  </div>

  <p>
    Платформа направленна на создание безопасного и поддерживающего пространства
    для людей, пострадавших от гендерного насилия. Мы — команда Dastgir,
    объединённая общей целью помочь жертвам гендерного насилия. Наша миссия —
    создать безопасное пространство, где каждый пострадавший сможет получить
    поддержку, защиту и необходимые ресурсы для восстановления. Мы верим, что
    каждый человек заслуживает безопасности и уважения. Если вы столкнулись с
    насилием — мы здесь, чтобы помочь.
  </p>
  <p>
    Платформа направленна на создание безопасного и поддерживающего пространства
    для людей, пострадавших от гендерного насилия. Мы — команда Dastgir,
    объединённая общей целью помочь жертвам гендерного насилия. Наша миссия —
    создать безопасное пространство, где каждый пострадавший сможет получить
    поддержку, защиту и необходимые ресурсы для восстановления. Мы верим, что
    каждый человек заслуживает безопасности и уважения. Если вы столкнулись с
    насилием — мы здесь, чтобы помочь.
  </p>
  <p>
    Платформа направленна на создание безопасного и поддерживающего пространства
    для людей, пострадавших от гендерного насилия. Мы — команда Dastgir,
    объединённая общей целью помочь жертвам гендерного насилия. Наша миссия —
    создать безопасное пространство, где каждый пострадавший сможет получить
    поддержку, защиту и необходимые ресурсы для восстановления. Мы верим, что
    каждый человек заслуживает безопасности и уважения. Если вы столкнулись с
    насилием — мы здесь, чтобы помочь.
  </p>
</div>
