<section class="cont1" style="text-align: center; margin-bottom: 50px; display: flex; justify-content: space-between; align-items: center; background-color: #F1F7F6; background-size: cover; color: #2f4f4f;">
    <div class="hero-content" style="padding: 20px 50px; width: 45%;">
      <h1 style="font-size: 3rem; margin-bottom: 20px; line-height: 1.4; color: #00856F;">Горячие линии</h1>
      <ul style="text-align: start; padding-left: 20px;">
          <li style="margin-bottom: 10px;">+992 93 587 71 21 (г. Душанбе, РРП, Согдийская, Хатлонская области и ГБАО)</li>
          <li style="margin-bottom: 10px;">+992 927 71 38 85 (Согдийская область)</li>
          <li style="margin-bottom: 10px;">+992 900 01 43 29 (Хатлонская область)</li>
          <li style="margin-bottom: 10px;">+992 93 602 33 82 (ГБАО)</li>
      </ul>
    </div>
    <div class="hero-img" style="width: 50%;">
      <img src="/assets/hotLines2.jpg" alt="" style="width: 99%; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" />
    </div>
  </section>
  
