<section class="cont">
    <div class="about-info">
      <p class="title">Cтатистика гендерного насилия</p>
      <p> Насилие в отношениях отвратительно, даже (и особенно) когда оно исходит от тех, кого мы любим. Чем больше мы информируем себя и окружающих, тем лучше мы будем подготовлены к тому, чтобы распознавать и останавливать насилие, когда оно происходит. Приведённая ниже статистика по домашнему насилию помогает нам в нашей работе.
      </p>
    </div>
  </section>


  <div class="charts-container">
    <div class="chart">
        <h2>Статистика насилия по гендеру</h2>
        <canvas id="pieChart" width="400" height="400"></canvas>
      </div>
  
   <img src="/assets/gensta2.jpg">
  </div>
  


  <div class="container mt-5">
    <div class="faq-header">Домашнее насилие</div>
  
    <div class="faq-content">
      <div class="faq-question">
        <input id="q1" type="checkbox" class="panel">
        <label for="q1" class="panel-title">
          <span class="plus">+</span>В среднем 24 человека в минуту становятся жертвами 
        </label>
        <div class="panel-content">изнасилований, физического насилия или преследования со стороны интимного партнёра в Соединённых Штатах — это более 12 миллионов женщин и мужчин в течение одного года.</div>
      </div>
  
      <div class="faq-question">
        <input id="q2" type="checkbox" class="panel">
        <label for="q2" class="panel-title">
          <span class="plus">+</span>Почти 3 из 10 женщин (29%) и 1 из 10 мужчин (10%) пережили
        </label>
        <div class="panel-content">изнасилование, физическое насилие и/или преследование со стороны партнёра и сообщили, что это оказало влияние на их функционирование.</div>
      </div>
  
      <div class="faq-question">
        <input id="q3" type="checkbox" class="panel">
        <label for="q3" class="panel-title">
          <span class="plus">+</span>Чуть менее 15% женщин (14,8%) и 4% мужчин в США получили 
        </label>
        <div class="panel-content">травмы в результате насилия со стороны интимного партнёра, включая изнасилование, физическое насилие и/или преследование.</div>
      </div>
  
     
  
      
    </div>
  </div>

  <div class="circle-container">
    <div class="circle">
        Почти каждая пятая женщина (18,3%) и один из 71 мужчины (1,4%) были изнасилованы в течение своей жизни.</div>
    <div class="circle">Почти каждая десятая женщина (9,4%) в США была изнасилована интимным партнёром в течение своей жизни.</div>
    <div class="circle">Для мужских жертв 52,4% сообщили, что были изнасилованы знакомым; 15,1% сообщили, что были изнасилованы незнакомцем.</div>
  </div>
  